
input[type=submit]
{
    height: 50px;
    width: 300px;
    display: list-item;
    background-color: rgb(128, 170, 202);
    cursor: pointer;
    color: black;
    box-sizing: border-box;
    margin: 100px 600px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px;
    box-shadow: steelblue;
}